#Exclude the following: 
AutomaticLandmarking/*
ManualLandmarking/*
Manuscript/Abstract/*
Manuscript/ArchivedRevisions/*
Manuscript/FiguresAndTables/*
Manuscript/Templates/*
Manuscript/MeshMonk_CoverLetter.docx
Resources/*
ValidationAnalysis/.RData
ValidationAnalysis/.Rhistory
ValidationAnalysis/MLvsAuto_AsymComparison.Rmd




